 <!-- NAVBAR -->
    <nav class="navbar">

        <div class="nav-container">

            <!-- LOGO -->
            <div class="logo">
                <img src="/Assets/IMG/Logo.jpeg" alt="Conecta Bienes Raíces">
            </div>

            <!-- MENÚ -->
            <div class="nav-menu" id="nav-menu">

                <a href="/principal.html">Inicio</a>
                <a href="/nosotros.html">Nosotros</a>
                <a href="/propiedades.html">Propiedades</a>
                <a href="/contactanos.html">Contáctanos</a>
                <a href="/iniciar_sesion.html" class="login-btn">
                    Iniciar Sesión
                </a>

                <!-- CARRITO -->
               <a href="#" class="cart" onclick="abrirCarrito(); return false;">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span id="carrito-contador"></span>
                </a>

            </div>

            <!-- HAMBURGUESA -->
            <div class="menu-toggle" id="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

    </nav>

    <script src="/Components/script.js"></script>